apiVersion: apps/v1
kind: Deployment
metadata:
  name: weather-app
spec:
  replicas: 1  # Start with 1 pod to save money
  selector:
    matchLabels:
      app: weather-app
  template:
    metadata:
      labels:
        app: weather-app
    spec:
      containers:
      - name: weather-app
        # THIS IS YOUR IMAGE FROM ARTIFACT REGISTRY
        image: us-central1-docker.pkg.dev/weather-prediction-487716/weather-repo/weather-app:v1
        ports:
        - containerPort: 8000
        resources:
          requests:
            cpu: "250m"    # 0.25 CPU
            memory: "512Mi" # 512 MB RAM
          limits:
            cpu: "500m"
            memory: "1Gi"